@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root{
  --blue:rgb(7, 7, 235);
  --red: rgb(242, 3, 3);
  --green: rgb(2, 137, 2);
  --grey: rgb(184, 183, 183);
  --lightgrey: hsl(0, 4%, 84%);
  --white: white;
  --transition: calc(.1s);
  --box-shadow: rgba(6, 6, 6, 6.54) 1px 5px 3px;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -15px inset, rgba(0, 9, 6, 4.3) 0px 18px 36px -25px inset;
}

body{
  font-family: Arial;
  color: rgb(9, 8, 8);
}

.container {
  border-radius: 6rem;
  font-size: 14px;
  width: 475px;
  height: 100vh;
  margin-left: 34.0rem;
  background-color: rgb(150, 150, 153);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(6, 6, 6, 6.54) 1px 5px 5px;
}

.header {
  font-size: 19px;
  width: 15rem;
  text-align: center;
  background-color: #d1cfcf;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border: solid 6px rgb(220, 220, 220);
  padding: 0.5rem;
  box-shadow: rgba(6, 6, 6, 6.54) 1px 5px 3px;
}

td > h4{
  display: flex;
  text-align: center;
  margin-top: -2px;
}

.income {
  color: var(--green);
}

.expense {
  color: var(--red);
}

.balance {
  color: var(--blue);

}

.form {
  width: 75%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: -1.9rem;
}

input {
  margin-top: 1px;
  padding: 1rem;
  outline: none;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  text-align: center;
  box-shadow: rgba(6, 6, 6, 6.54) 0px 4px 7px;
}

.buttons {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem;
  cursor: pointer;
  margin: 5px;
  border-radius: 7rem;
  color: rgb(220, 220, 220);
}

.button-expense {
  background-color: var(--red);
  box-shadow: rgba(6, 6, 6, 6.54) 0px 4px 7px;
}

.button-income {
  background-color: var(--green);
  box-shadow: rgba(6, 6, 6, 6.54) 0px 4px 7px;
}

.income-transaction {
  height: 3rem;
  padding: 0.5rem;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0px;
}

.transactions button{
  background-color: #70727c;
  color: black;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.transactions button:hover{
  background-color: var(--white);
  color: var(--black);
  transition: calc(.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -15px inset, rgba(0, 9, 6, 4.3) 0px 18px 36px -25px inset;
  }

  #UL_table
  {
  display: flex;
  gap: 40px;
  margin-left: -3.3rem;
  }
  
  #UL_table > li
  {
  list-style: none;
  font-size: bolder;
    background-color: var(--lightgrey);
    width: 3.6rem;
    gap: 5rem;
    text-align: center;
    box-shadow: rgba(6, 6, 6, 6.54) 0px 4px 7px;
  }

  .tr_tran
  {
  text-align: center;
  border-radius: 4px;
  padding: .0px 35px;
  box-shadow: rgba(1, 0, 0, 0.54) 1px 5px 5px;
  
  }

#red
{
background-color: red;
}
#green
{
background-color: green;
}

hr{
  width: 29rem;
}

/* ------------------flex for grid */

header, .row {
  display: flex;
  gap: 3rem; 
}
.col {
  flex: 1;       
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
}